.messages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.link {
    color: #333333;
}
/* .dialogs {
    color: yellow;
} */
/* .dialog {
    font-size: 20px;
} */
.historyMessages {
    background-color: brown;
}
/* .message {
    font-size: 22px;
} */
.active {
    color: red;
}